.head {
    text-align: center;
    color: white;
    background-color: black;
    border: white solid;
    border-radius: 200%;
}
.head img{
    border: black solid;
}
ul{
    list-style-type: none;
}
